.container {
    margin: 0 90px;
    margin-top: 40px;
    .products-table{
        margin: 0px 10px;
        margin-top: 30px;
        .no-data {
            padding: 20px;
        }
    }
    .payment-resume-container {
        display: flex;
        justify-content: flex-end;
        .payment-resume {
            margin: 30px;
            width: 300px;
        }
    }
}