<div class="container">
    <app-register-order-form [typesOfDocuments]="typesOfDocuments" (emitSearchProducts)="openSearchProductsDialog()" (emitRegisterOrder)="registerOrder()"></app-register-order-form>
    <div class="products-table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
    
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
    
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
    
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> <input type="number" value="{{element.quantity}}" (change)="changeQuantityOfProduct($any($event).target.value, element.id)"> </td>
            </ng-container>
    
            <ng-container matColumnDef="finalPrice">
                <th mat-header-cell *matHeaderCellDef> Importe</th>
                <td mat-cell *matCellDef="let element"> S/. {{element.finalPrice}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-mdc-row" *matNoDataRow>
                <td class="mat-cell no-data">No se encontraron ventas registradas en el rango de busqueda establecido</td>
            </tr>
        </table>
    </div>
    <section class="payment-resume-container">
        <mat-card class="payment-resume">
            <mat-card-content>
                <p>Subtotal: S/. {{subtotal}}</p>
                <p>IGV(18%): S/. {{igv}}</p>
                <p>Total: S/. {{total}}</p>
            </mat-card-content>
        </mat-card>
    </section>
</div>