<div class="search-container">
    <mat-form-field>
        <mat-label>Ingresa un rango de fechas</mat-label>
        <mat-date-range-input [formGroup]="rangeDate" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Fecha inicio">
            <input matEndDate formControlName="end" placeholder="Fecha fin">
        </mat-date-range-input>
        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button class="search-button" mat-flat-button color="primary" (click)="searchOrder()">Buscar</button>
</div>
